:root {
  --color-brand--1: $color-brand-1;
  --color-brand--2: $color-brand-2;
  
  --color-dark--1: $color-dark-1;
  --color-dark--2: $color-dark-2;
  --color-light--1: $color-light-1;
  --color-light--2: $color-light-2;
  --color-light--3: $color-light-3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  
  background-color: $color-white;
  padding: 2.5rem;
  
  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}