/* LOGO */
.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

/* COPYRIGHT */
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

/* WORKOUT */
.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  
  &--running {
	border-left: 5px solid var(--color-brand--2);
  }
  
  &--cycling {
	border-left: 5px solid var(--color-brand--1);
  }
  
  &__title {
	font-size: 1.7rem;
	font-weight: 600;
	grid-column: 1 / -1;
  }
  
  &__details {
	display: flex;
	align-items: baseline;
  }
  
  &__icon {
	font-size: 1.8rem;
	margin-right: 0.2rem;
	height: 0.28rem;
  }
  
  &__value {
	font-size: 1.5rem;
	margin-right: 0.5rem;
  }
  
  &__unit {
	font-size: 1.1rem;
	color: var(--color-light--1);
	text-transform: uppercase;
	font-weight: 800;
  }
}

/* FORM */
.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;
  
  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
  
  &.hidden {
	transform: translateY(-30rem);
	height: 0;
	padding: 0 2.25rem;
	margin-bottom: 0;
	opacity: 0;
  }
  
  &__row {
	display: flex;
	align-items: center;
	
	&--hidden {
	  display: none;
	}
  }
  
  &__label {
	flex: 0 0 50%;
	font-size: 1.5rem;
	font-weight: 600;
  }
  
  &__input {
	width: 100%;
	padding: 0.3rem 1.1rem;
	font-family: inherit;
	font-size: 1.4rem;
	border: none;
	border-radius: 3px;
	background-color: var(--color-light--3);
	transition: all 0.2s;
	
	&:focus {
	  outline: none;
	  background-color: $color-white;
	}
  }
  
  &__btn {
	display: none;
  }
}

/* TWITTER LINK */
.twitter-link {
  &:link,
  &:visited {
	color: var(--color-light--1);
	transition: all 0.2s;
  }
  
  &:hover,
  &:active {
	color: var(--color-light--2);
  }
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}


/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}


.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}


.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}


.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}


.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}